<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      User Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="users.length == 0">

      <super-navigate location="user#show" data-params-id="{{ user.id }}" ng-repeat="user in users">
        <li class="item item-icon-right">
          <span ng-bind="user['username']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="users.length == 0" class="assertive padding">
      No users found. Create one?
    </h4>

    <super-modal-show location="user#new">
      <button class="button button-full button-positive">
        Create a new user
      </button>
    </super-modal-show>
  </div>
</div>
