<div ng-controller="ProfileController">
  <div class="padding list card">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <img ng-src="{{user.picture}}" class="profile-picture" ng-click="upload()"></img>
      <h4 class="text-centered">{{user.firstName}} {{user.lastName}}</h4>
      <div class="item item-row">
        <p>Email: {{user.email}}</p>
      </div>
      <div class="item item-row">
        <p>Phone: {{user.phone}}</p>
      </div>
      <div class="item item-row">
        <p>Address: {{user.address}}</p>
      </div>
       <div class="item item-row">
        <p>Points: {{user.points}}</p>
      </div>

      <super-modal-show location="request#login">
      <button ng-click="logout()" class="button button-block button-negative">
        Logout
      </button>
     </super-modal-show>

    </div>
  </div>
</div>
