<div ng-controller="ProfileController">
  <super-navbar>
    <super-navbar-title>
      My Profile
    </super-navbar-title>
  </super-navbar>

  <div class="padding list card">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <img ng-src="http://res.cloudinary.com/duizpqaab/image/upload/{{user.id}}.jpg" class="profile-picture"></img>
      <h2 class="text-centered">{{user.firstName}} {{user.lastName}}</h2>
      <div class="item item-row">
        <p>Email: {{user.email}}</p>
      </div>
      <div class="item item-row">
        <p>Phone: {{user.phone}}</p>
      </div>
      <div class="item item-row">
        <p>Address: {{user.address}}</p>
      </div>

      <super-modal-show location="user#edit?id={{ user.id }}">
        <button class="button button-block button-positive">
          Edit Profile
        </button>
      </super-modal-show>

      <super-modal-show location="request#login">
      <button ng-click="logout()" class="button button-block button-negative">
        Logout
      </button>
     </super-modal-show>

    </div>
  </div>
</div>
