<div ng-controller="ProfileController">
  <super-navbar>
    <super-navbar-title>
      My Profile
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="user['username']"></h2>
       <p>Email: <span ng-bind="user['email']"></span></p>
       <p>Name: <span ng-bind="user['firstName']"></span> <span ng-bind="user['lastName']"></span></p>
       <p>Phone: <span ng-bind="user['phone']"></span></p>
       <p>Address: <span ng-bind="user['address']"></span></p>
       

      <super-modal-show location="user#edit?id={{ user.id }}">
        <button class="button button-block button-positive">
          Edit Profile
        </button>
      </super-modal-show>

      <super-modal-show location="request#login">
      <button ng-click="logout()" class="button button-block button-negative">
        Logout
      </button>
     </super-modal-show>

    </div>
  </div>
</div>
