<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      {{user.firstName}}'s Profile
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 class="text-centered">{{user.firstName}} {{user.lastName}}</h2>
       <p>Email: <span ng-bind="user['email']"></span></p>
       <p>Phone: <span ng-bind="user['phone']"></span></p>
       <p>Address: <span ng-bind="user['address']"></span></p>
    </div>
  </div>
</div>
