<div ng-controller="ShowController">
  <div class="padding list card">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <img ng-src="{{user.picture}}" class="profile-picture"></img>
      <h2 class="text-centered">{{user.firstName}} {{user.lastName}}</h2>
        <div class="padding item row" ng-hide="isAuthor">
          <div class="col">
            <button class="button icon super-email button-circle" ng-click="email()"></button>
          </div>
          <div class="col">
            <button class="button icon super-iphone button-circle" ng-click="call()"></button>
          </div>
          <div class="col">
            <button class="button icon super-chatbox-working button-circle" ng-click="text()"></button>
          </div>
          <div class="col">
            <button class="button icon super-map button-circle" ng-click="map()"></button>
          </div>
        </div>
      <div class="item item-row">
        <p>Email: {{user.email}}</p>
      </div>
      <div class="item item-row">
        <p>Phone: {{user.phone}}</p>
      </div>
      <div class="item item-row">
        <p>Address: {{user.address}}</p>
      </div>
      <div class="item item-row">
        <p>Points: {{user.points}}</p>
      </div>
    </div>
  </div>
</div>
