<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="user['address']"></h2>
      
      
      
       <p>createdAt: <span ng-bind="user['createdAt']"></span></p> 
      
       <p>email: <span ng-bind="user['email']"></span></p> 
      
       <p>objectId: <span ng-bind="user['objectId']"></span></p> 
      
       <p>phone: <span ng-bind="user['phone']"></span></p> 
      
       <p>requests: <span ng-bind="user['requests']"></span></p> 
      
       <p>updatedAt: <span ng-bind="user['updatedAt']"></span></p> 
      
       <p>username: <span ng-bind="user['username']"></span></p> 
      


      <super-modal-show location="user#edit?id={{ user.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(user.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
