.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.text-centered {
  text-align: center;
}

.button-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.profile-picture {
  display: block;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-position: center center;
  margin: 0 auto;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F2F2F2;
}

.help-block {
  color: red;
}

.login {
  background-color: #ffb347;
}

.app-title {
  font-family: 'Sail', cursive;
  font-size: 44px;
}

.logo {
  display: block;
  height: 150px;
  width: auto;
  margin: 0 auto;
}
