.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.text-centered {
  text-align: center;
}

.button-circle {
  border-radius:50%;
  height: 50px;
  width: 50px;
}
