<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">accepted_user</span>
    <input type="text" ng-model="request['accepted_user']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">author_user</span>
    <input type="text" ng-model="request['author_user']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="request['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">description</span>
    <input type="text" ng-model="request['description']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">location</span>
    <input type="text" ng-model="request['location']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="request['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">state</span>
    <input type="text" ng-model="request['state']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">title</span>
    <input type="text" ng-model="request['title']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="request['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
