<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Feed
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <div class="padding">
      <button class="button button-block button-positive icon super-refresh" ng-click="reload()"></button>
      <super-modal-show location="request#new">
        <button class="button icon super-plus button-block button-balanced"></button>
      </super-modal-show>

      <div class="padding list card" ng-repeat="request in requests">
        <div class="item item-row">
          <super-navigate location="request#show" data-params-id="{{ request.id }}">
            <h2>{{ request.title }}</h2>
          </super-navigate>
          <super-navigate location="user#show" data-params-id="{{ request.author_user }}">
            <span>{{ request.author_name }}</span>
            <i class="icon super-ios-arrow-right"></i>
          </super-navigate>
        </div>

        <super-navigate class="item item-body" location="request#show" data-params-id="{{ request.id }}">
          <p>{{ request.description }}</p>
          <p><a href="#" class="subdued">Created At {{ request.createdAt }}</a></p>
        </super-navigate>

      </div>
    </div>
  </div>
</div>
