<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Feed
    </super-navbar-title>
    <super-navbar-button side="right" ng-click="create()" rv-text="Create">
      Create
    </super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <div class="padding">

      <button class="button icon button-block button-balanced" ng-hide="diffRequests.length===0" ng-click="reload()">
        {{ diffRequests.length }} new updates
      </button>

      <div class="padding list card" ng-repeat="request in requests">

        <div class="item item-row">
          <super-navigate location="user#show" data-params-id="{{ request.author_user }}">
            <span>{{ request.author_name }}</span>
          </super-navigate>

          <super-navigate location="request#show" data-params-id="{{ request.objectId }}">
            <h2>{{ request.title }}</h2>
          </super-navigate>
        </div>

        <super-navigate class="item item-body" location="request#show" data-params-id="{{ request.objectId }}">
          <span>{{ request.description }}</span>
          <i class="icon super-ios-arrow-right"></i>

          <p><a href="#" class="subdued">{{ request.stringCreatedAt }}</a></p>
        </super-navigate>

      </div>
    </div>
  </div>
</div>
