<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Request Feed
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <button class="button button-full button-positive icon super-refresh" ng-click="reload()"></button>
    <div class="padding">
      <div class="list card" ng-repeat="request in requests">
        <div class="item row">

          <super-navigate class="title col col-30" location="request#show" data-params-id="{{ request.id }}">
            <h3>{{ request.title }}</h3>
          </super-navigate>

          <div class="col col-40"></div>

          <super-navigate class="author col col-30" location="user#show" data-params-id="{{ request.author_user }}">
            <span>{{ request.author_user }}</span>
            <i class="icon super-ios-arrow-right"></i>
          </super-navigate>
        </div>

        <super-navigate class="item item-body" location="request#show" data-params-id="{{ request.id }}">
          <p>{{ request.description }}</p>
          <p><a href="#" class="subdued">Create At {{ request.createdAt }}</a></p>
        </super-navigate>

      </div>
    </div>
  </div>
</div>
