<div ng-controller="MyAcceptedController">
  <super-navbar>
    <super-navbar-title>
      Accepted
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <div class="padding">
      <div class="list card" ng-repeat="request in requests">
        <div class="item">
          <super-navigate class="title" location="request#show" data-params-id="{{ request.id }}">
            <h3>{{ request.title }}</h3>
            <p>Requested by: {{request.author_user}}</p>
          </super-navigate>
        </div>

        <super-navigate class="item item-body" location="request#show" data-params-id="{{ request.id }}">
          <p>{{ request.description }}</p>
          <p><a href="#" class="subdued">Created At {{ request.createdAt }}</a></p>
        </super-navigate>

      </div>
    </div>

    <h4 ng-show="requests.length == 0" class="assertive padding">
      You have not accepted any requests.
    </h4>

    
  </div>
</div>
