<div ng-controller="MyRequestsController">
  <super-navbar>
    <super-navbar-title>
      Requested
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <div class="padding">
      <super-modal-show location="request#new">
        <button class="button icon super-plus button-block button-balanced"></button>
      </super-modal-show>

      <div class="list card" ng-repeat="request in requests">
        <div class="item">
          <super-navigate class="title" location="request#showmyrequest" data-params-id="{{ request.id }}">
            <h3>{{ request.title }}</h3>
          </super-navigate>
        </div>
        <super-navigate class="author col col-30" location="user#show" data-params-id="{{ request.accepted_user }}">
            <p> Accepted by {{ request.accepted_name }}</p>
        </super-navigate>
        <super-navigate class="item item-body" location="request#showmyrequest" data-params-id="{{ request.id }}">
          <p>{{ request.description }}</p>
          <p><a href="#" class="subdued">Created At {{ request.createdAt }}</a></p>
        </super-navigate>
      </div>
    </div>

    <h4 ng-show="requests.length == 0" class="assertive padding">
      No requests found. Create one?
    </h4>
  </div>
</div>
