<div ng-controller="MyRequestsController">
  <super-navbar>
    <super-navbar-title>
      Requested
    </super-navbar-title>

  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <div class="padding">
      <button class="button icon button-block button-balanced" ng-hide="diffRequests.length===0" ng-click="reload()">
        {{ diffRequests.length }} new updates, click to load
      </button>

      <div class="list card" ng-repeat="request in requests">
        <div class="item item-row">
          <super-navigate location="request#show" data-params-id="{{ request.objectId }}">
            <h2>{{ request.title }}</h2>
          </super-navigate>
          <super-navigate class="pull-right" ng-show="request.state==='accepted'" location="user#show" data-params-id="{{ request.accepted_user }}">
            <p >Accepted by: {{request.accepted_name}}</p>
          </super-navigate>
        </div>

        <super-navigate class="item item-body" location="request#show" data-params-id="{{ request.objectId }}">
          <span>{{ request.description }}</span>
          <i class="icon super-ios-arrow-right pull-right"></i>
          <br>
          <p><i class=super-ios-clock-outline></i> <span class="subdued">{{ request.stringCreatedAt }}</span></p>
        </super-navigate>
      </div>
    </div>

    <h4 ng-show="requests.length == 0" class="assertive padding">
      No requests found. Create one?
    </h4>
  </div>
</div>
