<div ng-controller="ShowController">
  <div class="padding list card">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      

      <h2 class="text-centered">{{request.title}}</h2>
      <div class="padding card">
        <super-navigate class="item item-row" location="user#show" data-params-id="{{ request.author_user }}">
          <p>Author: {{request.author_name}}</p>
        </super-navigate>
        <super-navigate class="item item-row" ng-show="isAccepted" class="item item-row" location="user#show" data-params-id="{{ request.accepted_user }}">
          <p>Accepted By: {{request.accepted_name}}</p>
        </super-navigate>
        <div class="item item-row">
          <p>Created At: {{request.stringCreatedAt}}</p>
        </div>
        <div class="item item-body">
          <p>Description: {{request.description}}</p>
        </div>
      </div>


      <div ng-hide="isAuthor">
        <button ng-click="accept()" ng-show="request.state==='open'" class="button icon super-heart button-block button-balanced">
          Help
        </button>
      </div>

      <div ng-show="isAuthor">
        <button ng-click="cancel(request.id)" ng-show="isOpen" class="button icon super-trash-a button-block button-balanced">
          Cancel
        </button>

        <button ng-click="close(request.id)" ng-show="isAccepted" class="button icon super-checkmark-round button-block button-balanced">
          Done
        </button>
      </div>
    </div>
  </div>
</div>
