<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="request['accepted_user']"></h2>
      
      
      
       <p>author_user: <span ng-bind="request['author_user']"></span></p> 
      
       <p>createdAt: <span ng-bind="request['createdAt']"></span></p> 
      
       <p>description: <span ng-bind="request['description']"></span></p> 
      
       <p>location: <span ng-bind="request['location']"></span></p> 
      
       <p>objectId: <span ng-bind="request['objectId']"></span></p> 
      
       <p>state: <span ng-bind="request['state']"></span></p> 
      
       <p>title: <span ng-bind="request['title']"></span></p> 
      
       <p>updatedAt: <span ng-bind="request['updatedAt']"></span></p> 
      


      <super-modal-show location="request#edit?id={{ request.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(request.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
