<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show My
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="request['title']"></h2>
       <p>Created at: <span ng-bind="request['createdAt']"></span></p>
       <p>Description: <span ng-bind="request['description']"></span></p>
       <p>Location: <span ng-bind="request['location']"></span></p>
       <p>State: <span ng-bind="request['state']"></span></p>
       <p>Accepted by: <span ng-bind="request['accepted_user']"></span></p>

      <super-modal-show location="request#edit?id={{ request.id }}">
        <button class="button button-block button-positive">
          Edit Request
        </button>
      </super-modal-show>

      <button ng-click="remove(request.id)" class="button button-block button-negative">
        Cancel Request
      </button>
    </div>
  </div>
</div>
