<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h4>{{author}} needs to borrow.. {{request.title}}</h4>
      <p>Description: <span ng-bind="request['description']"></span></p>
      <p>Created at: <span ng-bind="request['createdAt']"></span></p>
      <p>Location: <span ng-bind="request['location']"></span></p>
      <p>State: <span ng-bind="request['state']"></span></p>
      <p>Accepted by: <span ng-bind="request['accepted_user']"></span></p>

      <button ng-click="accept()" class="button button-block button-balanced">Accept</button>

      <!-- <super-modal-show location="request#edit?id={{ request.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(request.id)" class="button button-block button-negative">
        Remove
      </button> -->
    </div>
  </div>
</div>
