<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Request
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class="list card" ng-repeat="request in requests">
      <div class="item">
        <h3>{{ request.title }}</h3>
      </div>

      <div class="item item-body">
        <p>{{ request.description }}</p>
        <p>
          <a href="#" class="subdued">Posted {{ request.during }} min ago</a>
        </p>
      </div>
    </div>
  </div>
</div>
