<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Request
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div class="list card" data-ng-repeat="x in requests">
      <div class="item">
        <h3>{{ x.title }}</h3>
      </div>

      <div class="item item-body">
        <p>{{ x.description }}</p>
        <p>
          <a href="#" class="subdued">Posted {{ x.during }} min ago</a>
        </p>
      </div>
    </div>
  </div>
</div>
